<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/login.css">
    <title>Document</title>
</head>
<body>
    <div class='loggin'>
    <form class="login" action="/login" method="post">
        <h3>LOGIN</h3>
        <input type="email" name="email" placeholder='Email address' />
        <input type='password' name="password" placeholder='Password'/>
        <button type="submit" class="login_button continue" >Continue</button>
        <a href="/auth/google"><button type="button" class="google-btn" >
            Sign in with Google
          </button></a>
        <p class='create-acc'><span>create an account?</span><a  href="/signup" >Click here</a></p>
        <!-- <p class='privacy-policy-login'><input type="checkbox" /><span> By continuing,I agree to the terms of use and policy.</span></p> -->
      </div>
    </form>
</body>
</html>